*{
    margin:0;
    padding:0;
}
body{
    background-color: #f5f5f5;
}
.wrapper{
    width:500px;
    height:500px;
    margin:0 auto;
    position: relative;
}
.start{
    position:absolute;
    height:40px;
    width:80px;
    line-height:40px;
    font-size:18px;
    text-align:center;
    cursor:pointer;
    border:1px solid black;
    background-color:#fff8dc;
    font-weight:300;
    left:210px;
    margin-top:20px;
}
.right{
    width:300px;
    height:300px;
    position:absolute;
    right:0;
    top:0;
    left:0;
    bottom:0;
    margin:auto;
}
.right .imgArea{
    height:300px;
    width:300px;
    position:relative;
}
.imgCell{
    position: absolute;
    box-shadow: 0 0 8px #fff;
    border-radius:4px;
    background:url('./pic.jpg');
    cursor: pointer;
}